<%- include('./_layouts/header', { 
    heading: heading, 
    title: title, 
    content: content 
}) %>

<div class="ctnt">
    <div class="cc" style="align-items: center; margin-left: 30px;max-width: 200px;">
        <h3>CONTENT</h3>
        <%- content %>
    </div>
</div>


<%- include('./_layouts/footer') %>
